# Exam

Use the following table to provide us with

|name | exam number|
|----|----|
|Konstantin-Kiril Stanchin| 2003849/ u139256|
|other group member's name| exam number|

## Introduction and loading the data

In this resit we will work with data about budget shares of British households. A description of the data can be found on:
[link](https://vincentarelbundock.github.io/Rdatasets/doc/Ecdat/BudgetUK.html)

You will need to load the following packages:
dplyr
ggplot2

In [ ]:
library(ggplot2)
library(dplyr)

First, read in the dataset BudgetUK.csv and call the dataset "budget".

In [ ]:
budget <- read.csv2("BudgetUK.csv")
budget

And then look at the structure of the dataframe

In [ ]:
str(budget)

Please convert all variables to numeric ones, except ID and children
Please note that if you convert "factors" into numerical variables, things go wrong. That is because R converts the "level" of the factor to an integer. So, if we want to convert factors to numerics we will use:
as.numeric(as.character). See this example:

In [6]:
budget$wfood <- as.numeric(as.character(budget$wfood))

In [ ]:
budget$wfuel <- as.numeric(as.character(budget$wfuel))
budget$wcloth <- as.numeric(as.character(budget$wcloth))
budget$walc <- as.numeric(as.character(budget$walc))
budget$wtrans <- as.numeric(as.character(budget$wtrans))
budget$wother <- as.numeric(as.character(budget$wother))
budget$totexp <- as.numeric(budget$totexp)
budget$income <- as.numeric(budget$income)
budget$age <- as.numeric(budget$age)
str(budget)

Please change the variables and you should convert the variable "children" in a factor

In [ ]:
budget$children <- as.factor(budget$children)

Now, you will need to make a new dataframe called "budget1" based on the dataframe "budget" and then add a column with the name "totalbudget" which is the sum of wfood, wfuel, wcloth, walc, wtrans and wother.

In [ ]:
budget1 <- budget %>%
group_by(id) %>%
mutate(totalbudget=wfood+wfuel+walc+wtrans+wother)
budget1

## Graphs:

First make a scatterplot with wcloth on the x-axis, wfood on the y-axis and give a different color for the different numbers of children. PLease add regression lines and confidence intervals. 
For extra points:
Change the title for the x-axis in "share of budget for clothing" and the y-axis in "Share of budget for food".

In [ ]:
ggplot(budget, aes(x = wcloth, y = wfood, col = children)) +
  geom_point() + geom_smooth(method=lm) + scale_x_continuous(name="Share of budget for clothing") +
  scale_y_continuous(name="Share of budget for food")

We should make a second graph. You should make a bar chart with age on the x-axis and wfood on the y-axis. Give different colors for the number of children. The graph should be "stacked" (bars on top of each other). You can extra points if you can change the colors to red and blue.

In [ ]:
newcol = c("red", "blue")
ggplot(budget, aes(x = age, y=wfood, fill=children)) + geom_col() + scale_fill_manual(values = newcol)

## Extra points:

You can earn extra points you are able to produce a dataframe with the observations of which the totalbudget is not nearly 1. As you might have observed, there are a few NA's is the dataset. 
First set the NA's in the dataset to 0.
Then, You should round the numbers first with zero decimals and then convert them into integers.

Finally make a dataframe "warning" with observations that have a totalbudget that is not equal to 1 and show the dataframe with the command warning.